EXPO_PUBLIC_API_BASE_URL=https://noor-al-huda-api.shinzero.workers.dev
EXPO_PUBLIC_FIREBASE_ANDROID_DEBUG_CLIENT_ID=1024474386791-mth34nki4vjlh0vohnsp8uo1onk0u0bl.apps.googleusercontent.com
EXPO_PUBLIC_FIREBASE_ANDROID_RELEASE_CLIENT_ID=1024474386791-ke5e2cul293465ugnkmvottp73u772hc.apps.googleusercontent.com
